@tailwind base;
@tailwind components;
@tailwind utilities;

.sans{
  background: whitesmoke ;
  max-width : 1440px ;
  height : auto ;
  position : relative ;
  margin : 0 auto 0 auto !important ;
  overflow-x : hidden !important ;
}
.slideInnerImg img{
  width : 100% ;
  height : 100% ;
  object-fit : cover ;
  object-position : center ;
}

/* signin and signup pages */
.imgCOn{
  display: block ;
  height: 200px ;
  width: 100% ;
}

.innerbox{
  display: block ;
  height: 170px ;
  width: 100% ;
  background: whitesmoke ;
  overflow-y : hidden !important ;
  cursor : pointer ;
} 
.innerbox img{
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  object-position: center top !important;
  display : block !important ;
  overflow-y : hidden !important ;
}
.innerbox p {
  position : absolute !important;
  top : 5% !important;
  right : 5% !important ;
  color : white ;
  border-radius : 5% !important ;
  padding:3px ; 
}
.email{
  background: none !important;
  border: none !important;
  border-bottom: 1px solid #fff !important;
  color : #fff ;
  border-radius: 0px ;
}
.conImg{
  display: block ;
}
.conImg img{
  width: 100% ;
  height : 100% ;
  object-fit: cover ;
  object-position: center ;
}

.slider{
  height: 500px !important;
  width: 99% ;
  margin: 0 auto 0 auto ;
}
.boxoutercon{
  display: block ;
  background: #fff ;
  height: 500px ;
  border-radius: 10px ;
}
.boxoutercon img{
  display: inline-block ;
  width: 100% ;
  height: 80% ;
  object-fit: cover ;
  object-position: center ;
}

#email{
  width: 80% ;
  display: block ;
  margin : 0 auto 0 auto ;
  border-radius: 10px ;
  color : #fff ;
}
.Holiday{
  display: block ;
  width: 100% ;
  height: 100% !important ;
  background : whitesmoke ;
}
.holibox{
  width: 100% ;
  display: block ;
  background : whitesmoke ;
  border-radius: 10px ;
  cursor : pointer ;
}
.holitab{
  background : #fff ;
  border-radius: 10px ;
  height: 500px !important;
}

.mainholibox{
  height: 230px !important;
  overflow-y:hidden !important ;
  cursor : pointer ;
  }
.mainholibox img{
  width: 100% !important ;
  height: 250px !important ;
  object-fit: cover ;
  overflow-y : hidden !important ;
  object-position: center ;
  margin-bottom: 20px ;
}
.miniholibox{
  margin-top: 20px ;
  height: 100% ;
  overflow-y : hidden !important ;
  width: 100% ;
  cursor : pointer ;
  }
.miniholibox img{
  width: 100% ;
  height: 60% ;
  object-fit: cover ;
  object-position:  center ;
}
.holispecial{
  height: auto !important;  
  background-color: white;
}
.gifttab img{
  width: 100% !important ;
  height: 85% !important ;
  object-fit: cover ;
  object-position: center ;
  border-radius: 10px  ;
  background: whitesmoke;
  
  display: block ;
}
.roundtab{
  height: 250px  ;
  scrollbar-width: 300px;
  scroll-snap-type: x mandatory;
  scroll-behavior:smooth; 
  width: 350px;
  }
  .slides::-webkit-scrollbar{width : 10px; height: 10px;}
  .slides::-webkit-scrollbar-thumb{ background: white; border-radius: 10px;}
  .slides::-webkit-scrollbar-track{ background : transparent;}
.roundtab div img{
  display: inline-block;
  width: 100% !important ;
  height: 170px !important ;
  object-fit: cover ;
  object-position: center ;
  border-radius : 10px ; 
  background-color: whitesmoke ;
}


/* Similar Card Product */
.similarSLide{
  overflow-y : hidden ;
  height :100% !important ;
  padding :2px ;
}
.similarCard{
  height: 300px ;
}
.similarImg{
  height: 70% ;
  width: 100% ;
  object-fit: contain ;
  object-position: center ;
  display: inline-block ;
  overflow-y : hidden !important ;
  overflow-x : hidden !important ;
}

/* Product details  */

.productImg{
  width: 90% ;
  display: block ;
  margin : 0 auto 0 auto !important ;
  height: 400px !important ;
}
.logoImg{
  width: 100% !important;
  height: 80px !important;
}
.smallImg img{
  object-fit: contain ;
  object-position: center ;
}
.cart-con{
  width: 80% ;
  margin : 0 auto 0 auto ;
}
input[type=checkbox] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}
.resPass{
  display: block ;
  height: 300px ;
  margin-right: 5px ;
}
.resPass img {
  width: 100% ;
  height : 100% ;
  object-fit: cover ;
  object-position: center ;
}
.sliderImgCon{
  width: 100% ;
  height: 200px !important ;
}
.slideInnerImg{
  width: 100% ;
  height: 100% ;
  object-fit: cover ;
  object-position: center;
}

@media screen and (max-width : 800px) {
  #email{
    width: 95% !important ;
  }
  .resPass{
    display: none ;
  }
  /* .profileBar{
    display: none;
  } */
   .slider{
    height: 400px !important;
   }
   .conBox{
    width: 80% !important;
   }
   .imgCOn{
    display: none ;
   }
  .cart-con{
    width: 90%;
  }
  .productImg{
    width : 100% !important ;
    height : 370px !important;
    }
  .productImg .Carousel{
    height : 300px !important ;
  }
  /* .productImg , .productImg img{
    width: 100% ;
    height : 300px !important ;
  } */
  .productImg img{
    width : 100% !important ;
    height : 300px !important ;
    display : inline-block ;
    object-fit : contain ;
    object-position : center ;
  }
}